.skills__imagem {
    background: var(--bg-secundario);
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    font-weight: 700;
    height: 174px;
    width: 176px;
    transition: all 0.2s linear;
}

.skills__imagem:hover {
    background: none;
    color: var(--branco);
}

.skills__imagem p {
    padding-left: 1rem;
}

.skills__imagem--stacks{
    height: 37px;
    width: 24px;
    transition: 1s linear;
    padding-left: 1rem;
}

.skills__imagem:hover .skills__imagem--stacks {
    transform: scale(4);
    transform-origin: bottom;
}

@media screen and (max-width: 768px) {
    .skills__imagem {
        height: 118px;
        width: 25%;
    }
    
    .skills__imagem p {
      padding-left: 0;
      text-align: center;
    }

    .skills__imagem--stacks{
      align-self: center;
      padding-left: 0;
    }

    .skills__imagem:hover .skills__imagem--stacks {
        transform: scale(2);
        transform-origin: bottom;
    }
}

@media screen and (max-width: 460px) {
    .skills__imagem {
        width: 40%;
    }
}
