.menu__link {
    color: var(--branco);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;

    margin-right: 2rem;

    transition: all .1s ease-in-out;
}

.menu__link:hover {
    color: var(--azul);
}

@media screen and (max-width: 980px) {
    .menu__link {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 460px) {
    .menu--mobile .menu__link {
        font-size: 0.875rem;
    }
}