.contato {
    background-color: var(--bg-secundario);
    box-sizing: border-box;
    display: flex;
    padding-top: 8rem;
    padding-bottom: 4rem;
}

@media screen and (max-width: 768px) {
    .contato {
        display: inline-block;
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 100%;
    }
}