.contato__imagem {
    background: url("../../img/contato.jpg") no-repeat center / contain;
    height: 593px;
    width: 464px;
}

@media screen and (max-width: 768px) {
    .contato__imagem {
        display: none;
    }
}