.projeto {
    color: var(--branco);
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 4rem;
}

.projeto:last-child {
    padding-bottom: 2rem;
}

.projeto:nth-child(2n){
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .projeto {
        flex-direction: column;
    }
    
    .projeto:nth-child(2n){
        flex-direction: column;
    }
}

@media screen and (max-width: 460px) {
    .projeto {
        padding-bottom: 2rem;
    }
}
