.projeto__imagem {
  background-color: white;
  border-radius: 20px;
  height: 320px;
  width: 50%;
}

.projeto__imagem--decodificador {
    background: white url("../../img/descriptador.png") no-repeat center / cover;
}

.projeto__imagem--jogoDaVelha {
    background: white url("../../img/jogoDaVelha.png") no-repeat center / cover;
}

.projeto__imagem--pokedex {
    background: white url("../../img/pokedex.png") no-repeat center / contain;
}

.projeto__imagem--stabarts {
    background: white url("../../img/stabarts.png") no-repeat center / cover;
}

.projeto__imagem--curriculo{
  background: white url("../../img/curriculo.png") no-repeat center / cover;
}

@media screen and (max-width: 768px) {
    .projeto__imagem {
        height: 320px;
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    .projeto__imagem {
        align-self: center;
    }
}