.hobbies__imagem {
    background: var(--bg-secundario);
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    font-weight: 700;
    height: 174px;
    width: 176px;
    transition: all 0.2s linear;
}

.hobbies__imagem:hover {
    background: none;
    color: var(--branco);
}

.hobbies__imagem p {
    padding-left: 1rem;
}

.hobbies__imagem--atividades{
    height: 37px;
    width: 24px;
    transition: 1s linear;
    padding-left: 1rem;
}

.hobbies__imagem:hover .hobbies__imagem--atividades {
    transform: scale(4) rotateY(360deg);
    transform-origin: bottom;
}

@media screen and (max-width: 768px) {
    .hobbies__imagem {
        height: 118px;
        width: 25%;
    }

    .hobbies__imagem p {
      padding-left: 0;
      text-align: center;
    }

    .hobbies__imagem--atividades{
      align-self: center;
      padding-left: 0;
    }

    .hobbies__imagem:hover .hobbies__imagem--atividades {
        transform: none;
    }
}

@media screen and (max-width: 460px) {
    .hobbies__imagem {
      width: 40%;
    }
}
