.banner {
    align-items: center;
    background-color: var(--bg-primario);
    display: flex;
    flex-wrap: nowrap;
    /*height: calc(100vh - 146px);*/
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}