/*Estilos aplicados para a página toda, contem elemento raiz*/

:root {

    --bg-primario: #040405;
    --bg-secundario: #EAF2FD;
    --branco: #FFFFFF;
    --azul: #2A7AE4;
    --fonte-preto: #464646;

    --raleway: 'Raleway', sans-serif;
}

body {
    font-family: var(--raleway);
}

/*.container {
    padding-right: 6%;
    padding-left: 6%;
}

.botao {
    text-align: center;

    display: block;

    padding: 1rem 2rem;

    box-sizing: border-box;

    width: 100%;
    max-width: 350px;

    border: 1px solid var(--branco);
    border-radius: 5px;
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}*/