/*Estilos aplicados para a página toda, contem elemento raiz*/

:root {

    --bg-primario: #040405;
    --bg-secundario: #EAF2FD;
    --branco: #FFFFFF;
    --azul: #2A7AE4;
    --fonte-preto: #464646;

    --raleway: 'Raleway', sans-serif;
}

body {
    font-family: var(--raleway);
}

.conteiner {
    /*padding-left: 9.5rem;
    padding-right: 9.5rem;*/
    padding-left: 10.55%;
    padding-right: 10.55%;
}

.titulo {
    color: var(--azul);
    font-size: 2rem;
}