/*Estilos aplicados para a página toda, contem elemento raiz*/

:root {

    --bg-primario: #040405;
    --bg-secundario: #EAF2FD;
    --branco: #FFFFFF;
    --azul: #2A7AE4;
    --fonte-preto: #464646;

    --raleway: 'Raleway', sans-serif;
}

body {
    font-family: var(--raleway);
}

.conteiner {
    padding-left: 10.55vw;
    padding-right: 10.55vw;
}

.titulo {
    color: var(--azul);
    font-size: 2rem;
}

@media screen and (max-width: 1290px) {
    .conteiner {
        padding-left: 8vw;
        padding-right: 8vw;
    }
}

@media screen and (max-width: 1024px) {
    .conteiner {
        padding-left: 4vw;
        padding-right: 4vw;
    }
}

@media screen and (max-width: 768px) {
    .conteiner {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .titulo {
        font-size:1.375rem;
    }
}

@media screen and (max-width: 460px) {
    .conteiner {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}