.cabecalho {
    background-color: var(--bg-primario);
    color: var(--branco);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-top: 1rem;
    padding-bottom: 1rem;
}