.formacao__imagem {
    background-color: var(--branco);
    height: 286px;
    width: 368px;
}

.formacao__imagem--unifatecie {
    background: url("../../img/unifatecie.png") no-repeat center;
    height: 100%;
    width: 100%;
}

.formacao__imagem--alura {
    background: url("../../img/alura.png") no-repeat center;
    height: 100%;
    width: 100%;
}

.formacao__imagem--senai {
    background: url("../../img/senai.png") no-repeat center / contain;
    height: 100%;
    width: 100%;
}