.formacao__imagem {
    background-color: var(--branco);
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    /*height: 286px;
    width: 368px;*/
}

.formacao__imagem--unifatecie {
    background: url("../../img/unifatecie.png") no-repeat center / auto;
    height: 100%;
    width: 100%;
}

.formacao__imagem--alura {
    background: url("../../img/alura.png") no-repeat center / auto;
    height: 100%;
    width: 100%;
}

.formacao__imagem--senai {
    background: url("../../img/senai.png") no-repeat center / contain;
    height: 100%;
    width: 100%;
}